@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@layer base {
  body {
    @apply bg-[#0A0B0D] text-[#8E9299];
  }

  /* Custom Scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #2A2B2F;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3a3b3f;
  }
}
